<%= render("shared/menu") %>

<div style="margin-bottom: 10px">
  <div style="display: inline-block;">
    <%= form_with(url: crud_app_workers_path(job_type: CrudApp::Worker::CREATE)) do %>
      <%= submit_tag 'Spawn Creator' %>
    <% end %>
  </div>

  <div style="display: inline-block;">
    <%= form_with(url: crud_app_workers_path(job_type: CrudApp::Worker::UPDATE)) do %>
      <%= submit_tag 'Spawn Updator' %>
    <% end %>
  </div>
</div>

<div>Records: <%= CrudApp::Record.count %></div>
<div>Sidekiq Errors: <%= Sidekiq::Failures.count %></div>

<div>
  <h2>Workers</h2>
  <% if @workers.empty? %>
    <div>No workers</div>
  <% end %>

  <% @workers.each do |worker| %>
    <span><%= worker.id %></span>
    <span><%= worker.job_type %></span>
    <span><%= button_to('Delete', crud_app_worker_path(worker), method: :delete) %></span>
  <% end %>
</div>
