<div style="margin-bottom: 20px">
  <div style="display: inline-block"><%= link_to 'Home', root_path %></div>
  <div style="display: inline-block"><%= link_to 'App', stats_path %></div>
  <div style="display: inline-block"><%= link_to 'Sidekiq', sidekiq_web_path %></div>
</div>

<div style="margin-bottom: 10px">
  <div style="display: inline-block;">
    <%= form_with(url: workers_path(action_type: :create)) do %>
      <%= submit_tag 'Spawn worker Creator' %>
    <% end %>
  </div>

  <div style="display: inline-block;">
    <%= form_with(url: workers_path(action_type: :update)) do %>
      <%= submit_tag 'Spawn worker Updator' %>
    <% end %>
  </div>
</div>

<div>Records: <%= Record.count %></div>
<div>Workers Creators: <%= App.redis.hget(:worker_count, :create) || 0 %></div>
<div>Workers Updators: <%= App.redis.hget(:worker_count, :update) || 0 %></div>
<div>Sidekiq Errors: <%= Sidekiq::Failures.count %></div>
